/* This Sass file uses nested declarations to set styles for button tags.
   Initially, the text color of the button is set to #FF0000.
   On hovering over the button, the text color changes to #00FF00. */

$color: #ff0000;
$hover: #00ff00;

button {
  color: $color;

  &:hover {
    color: $hover;
  }
}

